<a href="https://colab.research.google.com/github/C0SS10/python-crashcourse/blob/main/01_Exercises_EstebanCossio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [69]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [70]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipo = pd.read_csv(url, sep = '\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [71]:
chipo = chipo

### Step 4. See the first 10 entries

In [72]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [73]:
# Solution 1
chipo.info()

# 4622 observaciones y 5 columnas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [74]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [75]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [76]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [77]:
chipo.index

'''
start es el Ã­ndice de la primera observaciÃ³n
stop es el Ã­ndice de la Ãºltima observaciÃ³n
step es el incremento entre observaciones
'''

' \nstart es el Ã­ndice de la primera observaciÃ³n\nstop es el Ã­ndice de la Ãºltima observaciÃ³n \nstep es el incremento entre observaciones\n'

### Step 9. Which was the most-ordered item?

In [78]:
chipo.value_counts().head(1)

# Chicken bowl es el plato mÃ¡s pedido

order_id  quantity  item_name     choice_description                                                                  item_price
926       1         Chicken Bowl  [Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Lettuce]]  $8.75         3
Name: count, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [79]:
chipo['item_name'].value_counts().head(1)

# Chicken bowl es el plato mÃ¡s pedido, 726 veces

item_name
Chicken Bowl    726
Name: count, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [80]:
chipo['choice_description'].value_counts().head(1)

# Diet Coke es el producto mÃ¡s pedido segun la columna 'choice_description'

choice_description
[Diet Coke]    134
Name: count, dtype: int64

### Step 12. How many items were orderd in total?

In [81]:
chipo['quantity'].sum()

# En total 4972 platos fueron pedidos

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [82]:
chipo['item_price'].dtype

# El tipo de dato de item_price es 'O' significa Object

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [83]:
chipo = chipo.copy()

chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

print(chipo['item_price'])

# El tipo de dato de item_price es 'float64'

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

#### Step 13.c. Check the item price type

In [84]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [85]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print(f'El beneficio recaudado fue de {revenue}$ dÃ³lares')

# El beneficio recaudado fue de 39237.02$ dÃ³lares

El beneficio recaudado fue de 39237.02$ dÃ³lares

### Step 15. How many orders were made in the period?

In [86]:
print(chipo['order_id'].nunique())
print(chipo['order_id'].max())

# 1834 pedidos

1834
1834

### Step 16. What is the average revenue amount per order?

In [87]:
# Solution 1
average_revenue = revenue / chipo['order_id'].nunique()
average_revenue = round(average_revenue, 2)
print(f'El beneficio promedio por pedido fue de {(average_revenue)}$ dÃ³lares')

# El beneficio promedio por pedido fue de 21.39$ dÃ³lares

El beneficio promedio por pedido fue de 21.39$ dÃ³lares

In [88]:
# Solution 2
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
# Sacar la media de la columna 'revenue'
revenue_promedio = order_grouped['revenue'].mean().round(2)

print(f'Los beneficios promedios por pedido fueron de {revenue_promedio}$ dÃ³lares')

Los beneficios promedios por pedido fueron de 21.39$ dÃ³lares

### Step 17. How many different items are sold?

In [89]:
chipo['item_name'].nunique()

# Hay un total de 50 items Ãºnicos vendidos

50